.messages {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.names {
padding: 10px;
}

.name {
}

.names .active {
    color: gold;
}

.messages__items {
    padding: 10px;
}

.message {

}
